/*!
 * Step Form Wizard
 * Jiri Wasniowski - <ajoke3@gmail.com>
 * http://codecanyon.net/item/step-form-wizard/8591111
 * Version 2.0 - built July 16 2015
 */
/* clearfix */
clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.sf-left { float: left; }
.sf-right { float: right; }
.sf-step > .sf-step-el { border: none; margin: 0; padding: 0; display: block; }
.sf-wizard { position: relative; }
.sf-wizard.sf-rtl { direction: rtl; }
.sf-hide-legend .sf-step-name, .sf-hide-buttons { display: none; }
.sf-nav { list-style: none; width: 100%; margin: 0px; padding: 0px; z-index: 4; }
.sf-viewport { position: relative; width: 100%; overflow: hidden; margin-bottom: 20px; transition: height 1s; }
.sf-viewport .sf-step-name { font-size: 20px; padding: 15px 0px; font-weight: bold; background: none; margin: 0; width: 100%; border-bottom: 1px solid #e5e5e5; margin-bottom: 15px; }
.sf-btn.sf-btn-finish { margin: 0 0 0 15px; }
.sf-btn.sf-btn-disabled { cursor: default; }
.sf-nav-bottom { margin-top: 6px; }
.sf-nav-wrap { overflow: hidden; width: 100%; position: relative; left: 0; padding:25px; }
.sf-nav-top, .sf-nav-bottom {  -ms-overflow-style: none; -ms-scroll-chaining: none; -ms-scroll-snap-type: mandatory; -ms-scroll-snap-points-x: snapInterval(0%, 100%); background:#f6f6f6; }
.sf-nav-top .sf-nav, .sf-nav-bottom .sf-nav { }
.sf-nav-left { float: left; width: 20%; height: auto; overflow: hidden; }
.sf-nav-right { float: right; width: 20%; height: auto; }
.sf-nav-wrap.sf-nav-left li, .sf-nav-wrap.sf-nav-right li { float: none; margin-bottom: 10px; }
.sf-nav li { float: left; position: relative; margin-right: 10px; }
.sf-rtl .sf-nav-top .sf-nav-step, .sf-rtl .sf-nav-bottom .sf-nav-step { float: right; }
.sf-rtl .sf-nav-on-right { float: left; margin-right: 0; }
.sf-nav li.sf-nav-link:not(.sf-nav-step-disabled) { cursor: pointer; }
.sf-nav-right li, sf-nav-left li { padding-right: 10px; }
.sf-nav-on-left { width: 80%; margin-left: 20%; }
.sf-nav-on-right { width: 80%; margin-right: 20%; }
.sf-nav-right li { margin-right: 0; margin-left: 10px; }
.sf-step > .sf-step-el { overflow: auto; overflow-x: hidden; }
.sf-step-no-active { height: 1px; }
.sf-step-no-active > .sf-step-el { display: none; }
li.sf-li-nonumber { text-align: center; }
.sf-li-nonumber .sf-nav-number { display: none; }
.sf-wizard .sf-btn, .sf-content .nocsript-sf-btn { margin:0; }
.sf-wizard > .sf-content { box-sizing: border-box; }
.sf-controls { z-index: 4; }
.sf-controls input { margin: 0; }
.sf-viewport { width: 100%; position: relative; perspective: 1000px; }
.sf-fieldwrap { width: 100%; height: 100%; position: relative; }
.sf-fieldwrap .sf-step { width: 100%; position: absolute; padding: 20px; display: none; }
.sf-fieldwrap .sf-step.sf-step-front, .sf-fieldwrap .sf-step.sf-step-right, .sf-fieldwrap .sf-step.sf-step-left { display: block; }
.sf-3d-cube .sf-fieldwrap { transform-style: preserve-3d; }
.sf-3d-cube .sf-fieldwrap .sf-step { background: #FFF; }
.sf-fade .sf-fieldwrap .sf-step.sf-step-right, .sf-fade .sf-fieldwrap .sf-step.sf-step-left { display: none; }
.sf-btn-next, .sf-btn-prev, .sf-btn-finish { display: none; cursor: pointer; }
.sf-nav-step-disabled { cursor: auto; }
.spinner { margin: 2px auto 0; width: 70px; text-align: center; }
.spinner > div { width: 15px; height: 15px; border-radius: 15px; background-color: #FFF; display: inline-block; margin-right: 2px; -webkit-animation: sf-bounce 1.2s infinite ease-in-out; animation: sf-bounce 1.2s infinite ease-in-out; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
.spinner .ball-1 { -webkit-animation-delay: -0.32s; animation-delay: -0.32s; }
.spinner .ball-2 { -webkit-animation-delay: -0.16s; animation-delay: -0.16s; }
 @-webkit-keyframes sf-bounce {  0%, 80%, 100% {
 -webkit-transform: scale(0);
}
 40% {
 -webkit-transform: scale(1);
}
}
@keyframes sf-bounce {  0%, 80%, 100% {
 transform: scale(0);
 -webkit-transform: scale(0);
}
 40% {
 transform: scale(1);
 -webkit-transform: scale(1);
}
}
@media screen, projection {
.sf-wizard *, .sf-wizard *:after, .sf-wizard *:before { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
}
 
 
